/**
* Description: Sample theme for site which extends the Cowboy grid-theme.
*/
@import url(../../../themes/grid/style.css);

html{background-color:#FFCCFF;}
body{background-color:#E8E8E8;}
#outer-wrap-header{background-color:#33CCFF;border-bottom:3px solid #FFCE80}
#outer-wrap-footer{background-color:#33CCFF}
a{color:#436370}
#navbar ul.menu li a.selected{background-color:#E8E8E8;border-bottom:none;}
